@model IEnumerable<SWEB_app.Models.Enrollment>

@{
    ViewData["Title"] = "Subjects";
}

<h1>Subjects</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Smester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeminalUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExamPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeminalPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AditionalPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinishDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Smester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SeminalUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExamPoints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SeminalPoints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AditionalPoints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectPoints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinishDate)
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
